body{
   margin: 0px;
}

h1{
   font-family: montserrat;
}

.date{
   font-family: Roboto;
   color: #008080;
}

.post-content{
   font-family: Open Sans;
   width: 90%;
}

.box{
   background-color: #fffafa;
   width: 70%;
   height: 100%;
   margin: 0px auto 0px auto;
}

.publication{
   padding: 20px 0px 0px 50px;
   margin-bottom: 50px;
}